/*--------- All Pages ----------*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
}

a{
	text-decoration: none;
	color: #555;
}

p{
	color: #555;
}

h4{
	color: #555;
	font-weight: normal;
}

.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}

.col-3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}

.col-3 img{
	width: 100%;
}

.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}

.col-4 img{
	width: 100%;
	height: 50%;
}

.col-4 p{
	font-size: 14px;
}

.col-4:hover{
	transform: translate(-5px);
}

.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.categories{
	margin: 70px 0;
}

/*------buttons design-------*/
.btn{
	width: fit-content;
	display: inline-block;
	background: rgb(0, 104, 189);
	color: #fff;
	padding: 8px 15px;
	margin: 30px 0;
	border: double;
	border-radius: 30px;
	transition: background 0.5s;
	cursor: pointer;
}
.btn:hover{
	background: rgb(26, 63, 94);
}

/*-------Header design-------*/
.header{
	background: radial-gradient(white);
}

.header .row{
	margin-top: 70px;
}

.logo{
	width: 150px;
	height: 90px;
	border: double;
	border-width: 10px;
	border-radius: 50%;
}

.logo:hover{
	border-radius: 49%;
	background-color: #777;
}

.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}

.navbar nav{
	flex: 1;
	text-align: right;
	background: #FFFFFF;
	width: 50%;
	height: 100%;
	line-height: 100%;
}

.navbar nav ul{
	display: inline-block;
}

.navbar nav ul li{
	display: inline-block;
	margin-right: 20px;
}

.navbar .active:hover{
	border-bottom: 3px solid rgb(23, 98, 212);
}

.departmentsnavbar{
	position: sticky;
	display: none;
	padding: 20px;
}

.departmentsnav{
	flex: 1;
	text-align: center;
	line-height: 100%;
}

.departmentsnavitems{
	background: #666668;
	display: list-item;
	align-items: center;
	max-width: 50%;
	max-height: fit-content;
	border: solid white;
	border-width: 5px;
	border-radius: 10%;
	padding: 10px;
}

.departmentsnavitems a{
	font-weight: bolder;
	color: white;
	padding: 10px;
}

.departmentsactive:hover{
	background-color: #cfcccc;
}

#navbaricons{
	width: 30px;
	height: 40px;
}

#nav-exit{
	visibility: collapse;
}

.exitmenutogglebtn{
	font-family: cursive;
	margin-right: 30px;
	color: black;
}

#departmentsexitmenutogglebtn{
	font-family: cursive;
	color: #000;
}

#menuitems{
	background: white;
}

#menuitems a{
	color: #000;
}

.menu-icon{
	width: 28px;
	margin-left: 20px;
	display: none;
}

.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}

.title::after{
	content: '';
	background: rgb(22, 115, 255);
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}

.cartquantity{
	background-color: rgb(22, 115, 255);
	color: #fff;
	padding: 0px 3px;
	border-radius: 50%;
}

/*--------- offer0 ---------*/
.offer0{
	width: 100%;
}

#voicerecognitionbtn{
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px 20px;
	border: solid #FFFFFF;
	border-width: 5px;
	border-radius: 50%;
	max-width: 15%;
	max-height: 20%;
}

#voicerecognitionbtn:hover{
	max-width: 14%;
	max-height: 19%;
}

#voicerecognitionhelplink{
	position: fixed;
	bottom: 5px;
	left: 10px;
	font-size: xx-small;
	color: black;
}

#result{
	position: fixed;
	bottom: 20px;
	right: 5%;
	font-size: 16px;
}

/*--------- offer ---------*/
.offer{
	background: whitesmoke;
	margin-top: 80px;
	padding: 30px 0;
}

.col-2 .offer-img{
	padding: 50px;
}

small{
	color: #555;
}

/*---------featured categories-------*/
.categories .col-3 img{
	width: 290px;
	height: 170px;
	border-radius: 1px;
}

/*---------testimonial--------*/
.testimonials table{
	font-size: auto;
	width: fit-content;
	border-collapse: collapse;
}

.testimonials .productinfo{
	display: flex;
	flex-wrap: wrap;
}

.testimonials th{
	padding: 5px 20px;
	color: #fff;
	background-color: grey;
	text-align: center;
}

.testimonials th:nth-child(2){
	text-align: center;
}

.testimonials td{
	padding: 10px 20px;
	text-align: center;
}

.testimonials td img{
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

.testimonials #testimonialsbottomspace{
	margin-bottom: 30px;
}

.testimonials .col-3{
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	cursor: pointer;
	transition: transform 0.5s;
}

.testimonials .col-3 img{
	width: 50px;
	margin-top: 20px;
	border-radius: 50%;
}

.testimonials .col-3:hover{
	transform: translate(-10px);
}

.fa.fa-quote-left{
	font-size: 34px;
	color: #1d3fff;
}

.col-3 p{
	font-size: 12px;
	margin: 12px 0;
	color: #777;
}

.testimonials .col-3 h3{
	font-weight: 600;
	color: #555;
	font-size: 16px;
}

/*----------brands-----------*/
.brands{
	margin: 100px auto;
}

.col-5{
	width: 160px;
}

.col-5 img{
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}

.col-5 img:hover{
	filter: grayscale(0);
}

/*---------Footerpage------------*/
.footer{
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}

.footer p{
	color: #8a8a8a;
}

.footer h3{
	color: #fff;
	margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}

.footer-col-1{
	flex-basis: 30%;
}
.footer-col-2{
	flex-basis: 1;
	text-align: center;
}
.footer-col-2 img{
	width: 180px;
	margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
	flex-basis: 12%;
	text-align: center;
}

ul{
	list-style-type: none;
}

.app-logo{
	margin-top: 20px;
}

.app-logo img{
	width: 140px;
}

.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}

.copyright{
	text-align: center;
}

/*----------About Page ------------*/
.small-container #aboutparagraph{
	padding: 5%;
	border: dotted;
	border-radius: 2%;
	font-family: verdana;
	font-size: large;
	font-weight: bold;
	background-color: #f5f5f5;
}

.small-container #aboutparagraph:hover{
	border: solid;
	border-radius: 0%;
}

#aboutrow{
	margin: 20px;
	padding: 20px;
	font-family: verdana;
	font-size: large;
}

.saflag{
	width: 100%;
	height: 100%;
}

.categories{
	margin: 70px 0;
}

.exe{
 align-items: baseline;
 
}

.exeimg{
 width: 5cm;
 height: 5cm;
 background-color: rgba(0, 0, 0, 0);
 border-radius: 50%;
}

.backimage{
 background: linear-gradient(to bottom, #6DB5F7 50%, #fff 50%);
}

/*---------- Departments Page ------------*/
.departmentspage{
	margin-bottom: 10vh;
}

#departmentsbiggercontainer{
	width: 100%;
	height: fit-content;
	font-size: x-large;
}

.departmentscontainer{
	font-family: Verdana;
	font-weight: bold;
	width: 100%;
}

.departmentscontainer label{
	width: 70%;
	border: solid rgb(10, 164, 202);
	border-width: 10px;
	border-radius: 1%;
	padding: 10px;
	margin: 50px;
	cursor: pointer;
	display: grid;
}

.departmentscontainer label:hover{
	background-color: rgb(37, 111, 129);
}

.departmentscontainer select{
	width: 100%;
}

#searchbtn{
	box-shadow: 0px 15px 40px #7E6D5766;
	font-family: Geneva;
	font-size: 19px;
	font-weight: bold;
	border: solid #fff;
	border-width: 5px;
	width: 50%;
	height: fit-content;		
	padding: 10px;
}

/*---------- Products Page ------------*/
.filterdropdown{
	margin-left: 80vw;
}

.filterdropdown label{
	width: 20%;
}

.filterdropdown select{
	width: 100%;
}

#gobackbtn{
	color: blue;
	cursor: pointer;
}

.displayallproducts{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	transition: transform 0.5s;
}

.displayallproducts img{
	width: 100%;
	height: 50%;
}

.displayallproducts p{
	font-size: 14px;
}

.displayallproducts:hover{
	transform: translate(-5px);
}

.rating .fa{
	color: orange;
}

.page-btn{
	margin: 0 auto 80px;
	margin-left: 5%;
	margin-top: 60px;
	margin-bottom: 750px;
}

.page-btn span{
	display: inline-block;
	border: 1px solid rgb(22, 115, 255);
	margin-left: 1%;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

.page-btn span:hover{
	background: rgb(22, 115, 255);
	color: #fff;
}

.page-btn1 span:hover{
	color: blue;
}

/*---------single product details---------*/
.row-2{
	justify-content: space-between;
	margin: 100px auto 50px;
}

.single-product{
	margin-top: 80px;
}

.single-product .col-2 img{
	padding: 0;
}
.single-product .col-2{
	padding: 20px;
}
.single-product h4{
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
}
.single-product select{
	display: block;
	padding: 10px;
	margin-top: 20px;
}
.single-product input{
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border: 1px solid rgb(22, 115, 255);
}
input:focus{
	outline: none;
}
.single-product .fa{
	color: rgb(22, 115, 255);
	margin-left: 10px;
}
.small-img-row{
	display: flex;
	justify-content: space-between;
}
.small-img-col{
	flex-basis: 24%;
	cursor: pointer;
}

.reviewdisplaycontainer{
	font-size: small
}

#addtocartbtn{
	width: 50%;
}

#buynowbtn{
	width: 50%
}

/*----------login-page------------*/
.loginpage{
	padding: 50px 0;
	background: radial-gradient(#fff,#ffd6d6);
}

.formcontainer{
	background: #fff;
	width: 30vw;
	height: 470px;
	text-align: center;
	padding: 20px 0;
	margin: auto;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.formbtn{
	display: inline-block;
}

.formcontainer form{
	padding: 0 20px;
	top: 130px;
	transition: transform 1s;
}

form input{
	align-content: center;
	width: 50%;
	margin: 5px auto;
	border: 1px solid #ccc;
}

#loginbtn{
	max-width: fit-content;
	max-width: -moz-fit-content;
}

#staffsigninbtn{
	max-width: fit-content;
	max-width: -moz-fit-content;
	background-color: grey;
}

#staffsigninbtn:hover{
	background-color: rgb(95, 93, 93);
}

#loginform{
	width: 100%;
	margin: 5px auto;
	text-align: center;
	padding: 20px;
	border-top: 1px solid rgb(22, 115, 255);
}

form a{
	font-size: 12px;
}

#loginform #registerurl,#forgotpasswordurl{
	color: rgb(22, 115, 255);
}

#loginpic{
	max-width: 50%;
	max-height: 50%;
}

/*------Registration-page------*/
#registrationform{
	width: 50%;
	margin: 5px auto;
	text-align: center;
	padding: 20px;
	border-top: 1px solid rgb(22, 115, 255);
}

#registrationform #loginurl{
	color: rgb(22, 115, 255);
}

/*----------Account-page--------*/
#accountform{
	width: 50%;
	margin: 35px;
	text-align: center;
	padding: 20px;
}

#accountform input{
	margin: 5px auto;
}

#accountform #changepasswordbtn{
	color: #fff;
	background-color: rgb(22, 115, 255);
}

.accountinfo #ordersbtn,#logoutbtn{
	color:rgb(22, 115, 255);
	text-decoration: none;
}

#sub-container{
	padding: 0px;
	margin-right: 140px;
}

#account-page{
	padding: 0px;
	margin-right: -140px;
}

/*----------Edit Profile Page--------*/
.editprofileuploadbtn{
	color: white;
	padding: 10px;
	width: fit-content; 
	background-color: blue;
	border: solid rgb(226, 218, 218);
	border-radius: 10%;
}

.editprofileuploadbtn:hover{
	background-color: rgb(97, 97, 201);
}

.editprofileverifybtn{
	color: white;
	padding: 10px;
	width: fit-content; 
	background-color: rgb(250, 250, 14);
	border: solid rgb(226, 218, 218); 
	border-radius: 10%;
}

.editprofileverifybtn:hover{ 
	background-color: rgb(160, 160, 65);
}

.editprofilebtn{
	color: white;
	padding: 10px;
	width: 20%; 
	background-color: rgb(18, 51, 236);
	border: solid rgb(226, 218, 218); 
	border-radius: 10%;
}

.editprofilebtn:hover{
	background-color: #0861aa;
}

/*----------Contact Page--------*/
.contactpagecontainer{
	text-align: center;
}

.contactpage{
	flex: wrap;
	display: inline-block;
	background-color: #cecdcd;
	border: solid rgb(240, 240, 240);
	height: fit-content;
	width: 98.95vw;
}

.contactpage:hover{
	border: solid rgb(182, 182, 182);
}

.submitcontactformbtn{
	color: #fff;
	background-color: rgb(22, 115, 255);
	padding: 5px;
	width: fit-content;
	border: solid #979797;
	border-radius: 10%;
}

.submitcontactformbtn:hover{
	background-color: #05598a;
}

.googlemapscontainer{
	flex: wrap;
	display: inline-block;
	background-color: #FFFFFF;
	border: solid rgb(240, 240, 240);
	height: fit-content;
	width: 98.95vw;
}

.googlemaps{
	width: 98vw;
}

/*----------Orders Page--------*/
.orders table{
	font-size: auto;
	width: 100%;
	border-collapse: collapse;
}

.orders .productinfo{
	display: flex;
	flex-wrap: wrap;
}

.orders th{
	padding: 5px 20px;
	color: #fff;
	background-color: rgb(22, 115, 255);
	text-align: center;
}

.orders th:nth-child(2){
	text-align: center;
}

.orders td{
	padding: 10px 20px;
	text-align: center;
}

.orders td img{
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

.orders #accountbottomspace{
	margin-top: 50px;
	margin-bottom: 200px;
}

/*----------Orders Details page--------*/
.orderdetails table{
	width: 100%;
	border-collapse: collapse;
}

.orderdetails .productinfo{
	display: flex;
	flex-wrap: wrap;
}

.orderdetails th{
	padding: 5px 20px;
	color: #fff;
	background-color: rgb(22, 115, 255);
	text-align: center;
}

.orderdetails th:nth-child(2){
	text-align: center;
}

.orderdetails td{
	padding: 10px 20px;
	text-align: center;
}

.orderdetails td img{
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

.orderdetails input{
	background-color: rgb(62, 62, 221);
	float: right;
	padding: 10px;
	width: fit-content;
	border-radius: 30px;
	transition: background 0.5s;
}

.orderdetails input:hover{
	background-color: grey;
}

/*---------- Track Order Page --------*/
.realtimetrackingstatuscontainer{
	margin-top: 40px;
	font-family: Verdana;
	font-size: large;
	font-style: oblique;
	font-weight: bold;
}

.realtimetrackingstatuscontainer input{
	margin-left: 155px;
}

/*--- Voice Recognition Commads Help Page ----*/
.voicerecognitionhelpcontainer {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.voicerecognitionhelpcommandlist {
	list-style: none;
	padding: 0;
	margin-top: 20px;
}

.voicerecognitionhelpcommandlist li {
	margin-bottom: 10px;
	background-color: #fff;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.voicerecognitionhelpcommandlist span{
	font-weight: bold;
	background-color: #f2f2f2;
	padding: 2px 6px;
	border-radius: 4px;
	margin-right: 4px;
}

/*---------- media query for less than 1300 screen size --------*/
@media only screen and (max-width: 1300px){
/*---------- Track Order Page --------*/
.realtimetrackingstatuscontainer input{
	margin-left: 140px;
}
}

/*---------- media query for less than 1100 screen size --------*/
@media only screen and (max-width: 1100px){
/*---------- Navbar -----------*/
.navbar nav ul{
	position: absolute;
	top: 70px;
	left: 0;
	background: #333;
	width: 100%;
	overflow: hidden;
	transition: max-height 0.5s;
}

.navbar nav ul li{
	display: list-item;
	margin-top: 10px;
	margin-bottom: 10px;
}

.navbar nav ul li a{
	color: #fff;
}

.navbar .active:hover{
	border-bottom: none;
}

.menu-icon{
	display: block;
	cursor: pointer;
}

#nav-exit{
	visibility: visible;
}

/*---------- Track Order Page --------*/
.realtimetrackingstatuscontainer input{
	margin-left: 85px;
}
}

/*---------- media query for less than 1000 screen size --------*/
@media only screen and (max-width: 1000px){
/*---------- All Products Page --------*/
.searchprice{
width: 180px;
height: 50px;
padding: 12px;
padding-left: 20px;
background: #fcfcfc;
border-radius: 20px;
display: flex;
align-items: center;
box-shadow: 0px 15px 40px #7E6D5766;
}

/*---------- Track Order Page --------*/
.realtimetrackingstatuscontainer input{
margin-left: 70px;
}
}

/*---------- media query for less than 900 screen size --------*/
@media only screen and (max-width: 900px){
/*---------- Products Page --------*/

/*---------- Track Order Page --------*/
.realtimetrackingstatuscontainer input{
margin-left: 50px;
}
}

/*---------- media query for less than 800 screen size --------*/
@media only screen and (max-width: 800px){
/*---------- Products Page --------*/

/*---------- Track Order Page --------*/
.realtimetrackingstatuscontainer input{
	margin-left: 40px;
}
}

/*-------media query for less than 600 screen size----*/
@media only screen and (max-width: 600px){
.row{
	text-align: center;
}
.col-2, .col-3, .col-4{
	flex-basis: 100%;
}

/*----------single products------------*/
.single-product .row{
	text-align: left;
}
.single-product .col-2{
	padding: 20px 0;
}
.single-product h1{
	font-size: 26px;
	line-height: 32px;
}

/*---------- Products Page ------------*/
#searchtype{
	margin-left: 10px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
}

.displayallproducts{
	flex-basis: 25%;
	padding: 10px;
	min-width: 175px;
	transition: transform 0.5s;
}

.page-btn{
	margin: 0 auto 80px;
	margin-top: 150px;
	margin-bottom: 850px;
}

.page-btn span{
	display: inline-block;
	border: 1px solid rgb(22, 115, 255);
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

/*----------Login Page--------*/
.formcontainer{
width: 60vw;
}

/*---------- Track Order Page --------*/
.realtimetrackingstatuscontainer input{
	margin-left: 90px;
}
}
/*-------media query for less than 500 screen size----*/
@media only screen and (max-width: 500px){
/*-------- Offer0 -------*/
#voicerecognitionbtn{
	max-width: 25%;
	max-height: 35%;
}

#voicerecognitionbtn:hover{
	max-width: 23%;
	max-height: 33%;
}
/*---------- Products Page --------*/

/*---------- Track Order Page --------*/
.realtimetrackingstatuscontainer input{
	margin-left: 40px;
}
}

/*-------media query for less than 450 screen size----*/
@media only screen and (max-width: 450px){
/*---------- Product Details Page --------*/
.reviewdisplaycontainer{
font-size: x-small;
}
}

/*-------media query for less than 400 screen size----*/
@media only screen and (max-width: 400px){
.col-2{
	flex-basis: 50%;
	min-width: 250px;
}
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}
.col-2 h1{
	font-size: 30px;
	line-height: 40px;
	margin: 20px 0;
}
.col-2 p{
	font-size: 12px;
}

/*-------Header design-------*/
.header .logo{
	width: 100px;
	height: 60px;
}
/*---------- All Products Page --------*/
.searchbtn{
font-size: 10px;
}

/*----------Login Page--------*/
.formcontainer{
width: 70vw;
}

/*---------- Track Order Page --------*/
.realtimetrackingstatuscontainer input{
margin-left: 35px;
}
}

/*-------media query for less than 350 screen size----*/
@media only screen and (max-width: 350px){
/*---------- Product Details Page --------*/
.reviewdisplaycontainer{
	font-size: xx-small;
}
}

/*-------media query for less than 300 screen size----*/
@media only screen and (max-width: 300px){
.col-2{
	flex-basis: 50%;
	min-width: 200px;
}
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}
.col-2 h1{
	font-size: 20px;
	line-height: 30px;
	margin: 20px 0;
}
.col-2 p{
	font-size: 10px;
}

.col-3{
	flex-basis: 30%;
	min-width: 200px;
	margin-bottom: 30px;
}

.col-3 img{
	max-width: 100%;
}

.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}

.col-4 img{
	width: 100%;
	height: 50%;
}

.col-4 p{
	font-size: 14px;
}

.col-4:hover{
	transform: translate(-5px);
}

.container{
	max-width: 100%;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.categories{
	margin: 70px 0;
}

/*------buttons design-------*/
.btn{
	padding: 8px 30px;
	margin: 30px 0;
}

/*-------Header design-------*/
.header .logo{
	width: 75px;
	height: 37.5px;
}

#accountpic{
	width: 20px;
	height: 20px;
}

#cart-pic{
	right: 0%;
	width: 20px;
	height: 20px;
}

.menu-icon{
	width: 28px;
	margin-left: 20px;
	left: 0%;
}

.header .row{
	margin-top: 70px;
}

.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}

nav{
	width: 50%;
	height: 100%;
	line-height: 100%;
}

.departmentsnavitems{
	max-width: 100%;
}

.title{
	margin: 0 auto 80px;
	line-height: 60px;
}

.title::after{
	width: 80px;
	height: 5px;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}

.cartquantity{
	padding: 2px 5px;
	border-radius: 50%;
	margin: -5px;
}

/*--------- offer ---------*/
.offer{
	margin-top: 80px;
	padding: 30px 0;
}

.col-2 .offer-img{
	padding: 50px;
}

/*---------testimonial--------*/
.testimonial{
	padding-top: 100px;
}

.testimonial .col-3{
	padding: 40px 20px;
}

.testimonial .col-3 img{
	width: 50px;
	margin-top: 20px;
}

.fa.fa-quote-left{
	font-size: 34px;
}

.col-3 p{
	font-size: 12px;
	margin: 12px 0;
}

.testimonial .col-3 h3{
	font-size: 16px;
}

/*----------brands-----------*/
.brands{
	margin: 100px auto;
}

.col-5{
	width: 160px;
}

.col-5 img{
	width: 100%;
}

/*---------Footerpage------------*/
.footer{
	font-size: 14px;
	padding: 60px 0 20px;
}

.footer h3{
	margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 200px;
	margin-bottom: 20px;
}

.footer-col-2 img{
	max-width: 100%;
	margin-bottom: 20px;
}

.app-logo{
	margin-top: 20px;
}

.app-logo img{
	width: 140px;
}

.footer hr{
	height: 1px;
	margin: 20px 0;
}

/*----------About Page-----------*/
#aboutrow{
	margin: 0px;
	padding: 5px;
	font-family: verdana;
	font-size: large;
}

/*----------all products------------*/
#searchtype{
	margin-left: 0px;
	font-size: 11px;
}

#searchbtn{
	font-size: small;
}

.displayallproducts{
	min-width: 140px;
}

.page-btn{
	margin: 0 auto 80px;
	margin-top: 50px;
	margin-bottom: 850px;
}

.page-btn span{
	width: 40px;
	height: 40px;
	line-height: 40px;
}

/*---------single product details---------*/
.row-2{
	justify-content: space-between;
	margin: 100px auto 50px;
}

.single-product{
	margin-top: 80px;
}

.single-product .col-2 img{
	padding: 0;
}
.single-product .col-2{
	padding: 20px;
}
.single-product h4{
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
}
.single-product select{
	display: block;
	padding: 10px;
	margin-top: 20px;
}
.single-product input{
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
}
input:focus{
	outline: none;
}
.single-product .fa{
	margin-left: 10px;
}
.small-img-row{
	display: flex;
	justify-content: space-between;
}
.small-img-col{
	flex-basis: 24%;
}

#addtocartbtn{
	width: 75%;
	padding: 10px;
}

#buynowbtn{
	width: 75%;
	padding: 10px;
}

/*----------login-page------------*/
.loginpage{
	padding: 50px 0;
}

.formcontainer form{
	padding: 0 20px;
	top: 130px;
}

form input{
	width: 50%;
	margin: 5px auto;
}

form .btn{
	width: 100%;
	margin: 10px 0;
}

#loginform{
	width: 100%;
	margin: 5px auto;
	padding: 20px;
}

form a{
	font-size: 12px;
}

/*------Registration-page------*/
#registrationform{
	width: 50%;
	margin: 5px auto;
	padding: 20px;
}

/*----------Account-page--------*/
#accountform{
	width: 50%;
	margin: 35px;
	padding: 20px;
}

#accountform input{
	margin: 5px auto;
}

#sub-container{
	padding: 0px;
	margin-right: 140px;
}

#account-page{
	padding: 0px;
	margin-right: -140px;
}

/*----------Orders page--------*/
.orders table{
	font-size: auto;
	width: 100%;
}

.orders th{
	padding: 5px 20px;
}

.orders td{
	padding: 10px 20px;
}

.orders td img{
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

.orders #accountbottomspace{
	margin-top: 50px;
	margin-bottom: 200px;
}

/*----------Orders Details page--------*/
.orderdetails table{
	width: 100%;
}

.orderdetails th{
	padding: 5px 20px;
}

.orderdetails td{
	padding: 10px 20px;
}

.orderdetails td img{
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

/*---------- Track Order Page --------*/
.realtimetrackingstatuscontainer input{
	margin-left: 75px;
}

}

/*-------media query for less than 280 screen size----*/
@media only screen and (max-width: 280px){
/*-------Header design-------*/
.header .row{
	margin-top: 70px;
}

.menu-icon{
	width: 28px;
	margin-left: 20px;
	left: 0%;
}

.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}

.title::after{
	content: '';
	background: rgb(22, 115, 255);
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}

/*---------- Products Page --------*/

/*----------login-page------------*/
.loginpage{
	padding: 50px 0;
}

/*----------- Registration Page -----------*/
#registration-btn{
	width: 105px;
	border: none;
	cursor: pointer;
}

#registration-btn:focus{
	outline: none;
}

/*---------- Track Order Page --------*/
.realtimetrackingstatuscontainer input{
	margin-left: 75px;
}	
}

/*-------media query for less than 270 screen size----*/
@media only screen and (max-width: 270px){
/*-------Header design-------*/
.header .logo{
width: 65px;
height: 35px;
}

.header .accountpic{
width: 12px;
height: 15px;
}

.header .cartpic{
width: 12px;
height: 15px;
}
}

/*-------media query for less than 260 screen size----*/
@media only screen and (max-width: 260px){
/*-------Header design-------*/
.header .logo{
width: 55px;
height: 25px;
}

.header .accountpic{
width: 12px;
height: 15px;
}

.header .cartpic{
width: 12px;
height: 15px;
}

.header .row{
margin-top: 70px;
}

.menu-icon{
width: 28px;
margin-left: 20px;
left: 0%;
}

.title{
text-align: center;
margin: 0 auto 80px;
position: relative;
line-height: 60px;
color: #555;
}

.title::after{
content: '';
background: rgb(22, 115, 255);
width: 80px;
height: 5px;
border-radius: 5px;
position: absolute;
bottom: 0;
left: 50%;
transform: translate(-50%);
}

/*---------- Products Page --------*/

/*----------login-page------------*/
.loginpage{
	padding: 50px 0;
}

.formcontainer{
	width: 80vw;
}

/*----------- Registration Page -----------*/
#registration-btn{
	width: 110px;
	border: none;
	cursor: pointer;
}

#registration-btn:focus{
	outline: none;
}
	
/*---------- Track Order Page --------*/
.realtimetrackingstatuscontainer input{
	margin-left: 75px;
}
}

/*-------media query for less than 250 screen size----*/
@media only screen and (max-width: 250px){
/*-------Header design-------*/
.header .logo{
width: 45px;
height: 15px;
border: solid;
}

.header .accountpic{
width: 5px;
height: 5px;
}

.header .cartpic{
width: 5px;
height: 5px;
}
}

/*-------media query for less than 240 screen size----*/
@media only screen and (max-width: 240px){
/*-------Header design-------*/
.header .row{
margin-top: 70px;
}

.navbar{
display: flex;
align-items: center;
padding: 20px;
}

nav{
flex: 1;
text-align: right;
background: #FFFFFF;
width: 50%;
height: 100%;
line-height: 100%;
}
nav ul{
display: inline-block;
list-style-type: none;
}

nav ul li{
display: inline-block;
margin-right: 20px;
}

.menu-icon{
width: 28px;
margin-left: 20px;
left: 0%;
}

.title{
text-align: center;
margin: 0 auto 80px;
position: relative;
line-height: 60px;
color: #555;
}

.title::after{
content: '';
background: rgb(22, 115, 255);
width: 80px;
height: 5px;
border-radius: 5px;
position: absolute;
bottom: 0;
left: 50%;
transform: translate(-50%);
}

/*---------- Products Page --------*/

/*----------login-page------------*/
.loginpage{
	padding: 50px 0;
}

form input{
	width: 50%;
	margin: 5px auto;
}

form .btn{
	width: 100%;
	margin: 10px 0;
}

#loginform{
	width: 100%;
	margin: 5px auto;
	padding: 20px;
}

form a{
	font-size: 12px;
}

/*----------- Registration Page -----------*/
#registration-btn{
	width: 110px;
}

/*---------- Track Order Page --------*/
.realtimetrackingstatuscontainer input{
	margin-left: 75px;
}
}